<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">

<!-- 게시판 리스트 -->
	<select id="selectPost" resultType="PostVO">
		SELECT * FROM post_category
	</select>

<!-- 게시글 작성 -->
	<insert id="insertBoard">
		INSERT INTO board (title, content, image, user_idx, post_category_idx)
		VALUES (#{title}, #{content}, #{image}, #{userIdx}, #{postCategoryIdx})
	</insert>

<!-- 게시글 세부내용 -->
	<select id="readBoard" resultType="BoardVO">
		SELECT a.name, b.idx, b.title, b.write_date, b.view_count, b.content, b.image
		FROM member a, board b
		WHERE a.idx = b.user_idx and b.idx = #{idx}
	</select>
	
<!-- 게시글 수정 -->
	<update id="updateBoard">
		UPDATE board SET title = #{title}, content = #{content}
		WHERE idx = #{idx}
	</update>

<!-- 게시글 삭제 -->
	<delete id="deleteBoard">
		DELETE FROM board WHERE idx = #{idx}
	</delete>
	
<!-- 게시글 조회수 -->
	<update id="viewCount">
		update board set view_count = view_count + 1
		where idx = #{idx}
	</update>
	
	<select id="listCriteria" resultType="BoardVO">
		<![CDATA[
		SELECT a.name, b.idx, b.title, b.write_date, b.view_count, b.content,
			(SELECT COUNT(*) FROM comment WHERE board_idx = b.idx) AS recnt
		FROM member a, board b
		WHERE a.idx = b.user_idx
		ORDER BY b.idx DESC
		LIMIT #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="countPaging" resultType="int">
		<![CDATA[
		SELECT COUNT(b.idx)
		FROM member a, board b
		WHERE a.idx = b.user_idx
		]]>
	</select>
	
	<select id="listSearch" resultType="BoardVO">
		SELECT a.name, b.idx, b.title, b.write_date, b.view_count, b.content,
			(SELECT COUNT(*) FROM comment WHERE board_idx = b.idx) AS recnt
		FROM member a, board b
		WHERE a.idx = b.user_idx AND ${searchType} LIKE CONCAT('%', #{keyword}, '%')
		ORDER BY b.idx DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<select id="listSearchCount" resultType="int">
		SELECT count(b.idx)
		FROM member a, board b
		WHERE a.idx = b.user_idx AND ${searchType} LIKE CONCAT('%', #{keyword}, '%')
	</select>
</mapper>