<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.GameMapper">

<!-- 게임 카테고리1 -->
	<select id="selectGameType" resultType="GameCategory1VO">
		SELECT * FROM category ORDER BY idx
	</select>
	
<!-- 게임 리스트 -->
	<select id="selectAllGame" resultType="GameVO">
		SELECT a.idx
			 , a.title
			 , a.price
			 , c.content
			 , c.view_count
			 , c.image
			 , d.name
		FROM game a
			INNER JOIN game_type b ON a.idx = b.game_idx
			INNER JOIN board c ON c.idx = a.board_idx  
			INNER JOIN member d ON d.idx = c.member_idx
		GROUP BY a.title
		ORDER BY a.idx DESC
	</select>
	
<!-- 게임 카테고리2 -->
	<select id="selectGameCategory2" resultType="GameCategory2VO">
		SELECT * FROM category2
		WHERE 1=1
		<if test="idx != null">
		AND idx = #{idx}
		</if>
	</select>
	
<!-- 게임 카테고리3 -->
	<select id="selectGameCategory3" resultType="GameCategory3VO">
		SELECT * FROM category3
	</select>
	
	<select id="categoryGameList" resultType="map">
		SELECT a.idx
			 , a.title
			 , a.price
			 , a.board_idx
			 , c.name AS company_name
			 , d.name AS device_name
		 	 , e.name AS type_name
		 	 , f.name AS genre_name
		FROM game a
			 INNER JOIN game_type b ON a.idx = b.game_idx
			 INNER JOIN category2 d ON b.category2_idx = d.idx
			 INNER JOIN category c ON d.category_idx = c.idx
			 INNER JOIN category3 e ON b.category3_idx = e.idx
			 INNER JOIN genre f ON b.genre_idx = f.idx
		WHERE 1=1
		<if test="device_idx != null">
		AND d.idx IN (#{device_idx})
		</if>
		<if test="type_idx != null">
		AND e.idx IN (#{type_idx})
		</if>
	</select>
	
	<select id="gameInfo" resultType="GameVO">
		SELECT a.idx
			 , a.title
			 , a.price
			 , a.board_idx
			 , b.member_idx
			 , b.view_count
			 , b.image
			 , b.sub_image
			 , b.content
		FROM game a
			 INNER JOIN board b ON a.board_idx = b.idx
		WHERE a.idx = #{idx}
	</select>
</mapper>
