<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MemberMapper">

<!-- 회원가입 -->
	<insert id="insertmember">
		INSERT INTO member (
			email
		  , pwd
		  , name
		  , phone)
		VALUES (
			#{email}
		  , #{password}
		  , #{name}
		  , #{phone})
	</insert>
	
<!-- 회원 로그인 체크 -->
	<select id="login" resultType="memberVO">
		SELECT * FROM member
		WHERE email = #{email} AND pwd = #{password}
	</select>
	
<!-- 자동 로그인 -->
	<update id="keepLogin">
		UPDATE member SET sessionkey = #{sessionId}, sessionlimit = #{next}
		WHERE email = #{email}
	</update>
	
<!-- 세션키 -->
	<select id="checkMemberWithSessionKey" resultType="memberVO">
		SELECT * FROM member
		WHERE sessionkey = #{value} AND sessionlimit > now()
	</select>
	
</mapper>
