<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.OrderMapper">

    <!-- 1. 장바구니 추가 -->
    <insert id="insertOrder">
        INSERT INTO order (
            member_idx
          , game_idx
          , game_board_idx
          , quantity )
        VALUES
            ( #{userIdx}, #{gameIdx}, #{boardIdx}, #{quantity} )
    </insert>
    
    <!-- 2. 장바구니 목록 -->
    <select id="listOrder" resultType="OrderVO">
        SELECT
            a.idx,
            a.member_idx AS userIdx,
            a.game_idx As gameIdx,
            a.quantity,
            b.title AS gameTitle, 
            b.price AS price, 
            (price * quantity) AS cost
        FROM
            order a
            INNER JOIN game b ON a.game_idx = b.idx
            INNER JOIN member c ON a.member_idx = c.idx
        WHERE a.member_idx = #{userIdx}
        ORDER BY
            a.idx DESC
    </select>
    
    <!-- 3. 장바구니 전체 금액 -->
    <select id="sumCost" resultType="int">
        SELECT IFNULL(SUM(price * quantity), 0) AS cost
        FROM order a
        inner join game b on a.game_idx = b.idx 
        WHERE a.member_idx = #{userIdx}
    </select>
    
    <!-- 4. 장바구니 수정 -->
    <update id="updateOrder">
        UPDATE order    
        SET quantity = #{quantity} 
        WHERE member_idx= #{userIdx} 
        AND game_idx = #{gameIdx}
    </update>
    
    <!-- 5. 장바구니 삭제 -->
    <delete id="deleteOrder">
        DELETE FROM order 
        WHERE idx = #{orderIdx}
    </delete>
    
    <!-- 6. 장바구니에 동일한 상품 레코드 확인 -->
    <select id="countOrder" resultType="int">
        SELECT COUNT(*)
        FROM order
        WHERE member_idx= #{userIdx}
        AND game_idx = #{gameIdx}
    </select>
    
    <!-- 7. 장바구니에 동일한 상품이 존재하면 수정 -->
    <update id="duplicateUpdateOrder">
        UPDATE order 
        SET quantity = quantity + #{quantity} 
        WHERE member_idx= #{userIdx} 
        AND game_idx = #{gameIdx}
    </update>
</mapper>
