<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.OrderMapper">

    <!-- 1. 주문 추가 -->
    <insert id="insertOrderMt">
        INSERT INTO order_mt (
        	member_idx
          , addr
          , phone
          , payment_type )
        VALUES (
        	#{memberIdx}
		  , #{addr}
		  , #{phone}
		  , #{paymentType} )
    </insert>
    
    <insert id="insertOrderDt" parameterType="java.util.List">
    	INSERT INTO order_dt (
    		sno
    	  , game_idx
    	  , quantity )
		VALUES 
		<foreach item="item" index="index" collection="list" open="(" separator="),(" close=")">
			#{item.sno}
			, #{item.game_idx}
			, #{item.quantity}
		</foreach>
    </insert>
    
    <!-- 2. 주문 목록 -->
    <select id="listOrder" resultType="OrderVO">
        SELECT
            a.idx
          , a.member_idx AS memberIdx
          , b.game_idx As gameIdx
          , b.quantity
          , c.title AS gameTitle
          , c.price AS price
          , (c.price * b.quantity) AS cost
        FROM order_mt a
        	INNER JOIN order_dt b ON a.idx = b.idx
            INNER JOIN game c ON b.game_idx = c.idx
        WHERE a.member_idx = #{memberIdx}
        ORDER BY b.sno DESC
    </select>
    
    <!-- 3. 주문 전체 금액 -->
    <select id="sumCost" resultType="int">
        SELECT IFNULL(SUM(c.price * b.quantity), 0) AS cost
        FROM order_mt a
        	INNER JOIN order_dt b ON a.idx = b.idx
            INNER JOIN game c ON b.game_idx = c.idx 
        WHERE a.idx = #{idx}
    </select>
    
    <!-- 4. 주문 수정 -->
    <update id="updateOrderMt">
        UPDATE order_mt
        SET addr = #{addr}
          , phone = #{phone}
          , payment_type = #{payment_type}
        WHERE idx = #{idx}
    </update>
    
    <update id="updateOrderDt">
    	UPDATE order_dt
    	SET quantity = #{quantity}
    	WHERE idx = #{idx}
    	AND sno = #{sno}
    </update>
    
    <!-- 5. 주문 삭제 -->
    <delete id="deleteOrderMt">
        DELETE FROM order_mt
        WHERE idx = #{idx}
    </delete>
    
	<delete id="deleteOrderDt">
        DELETE FROM order_dt
        WHERE idx = #{idx}
		<if test="sno != null">
		AND sno = #{sno}
		</if>
    </delete>
    
    <select id="selectPaymentType" resultType="PaymentTypeVO">
		SELECT * FROM Payment_type
	</select>
    
</mapper>
