<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.OrderMapper">

    <!-- 1. 주문 추가 -->
    <insert id="insertOrder">
        INSERT INTO order (
        	member_idx
          , game_idx
          , game_board_idx
          , quantity
          , addr
          , phone
          , payment_type )
        VALUES (
        	#{memberIdx}
		  , #{gameIdx}
		  , #{boardIdx}
		  , #{quantity}
		  , #{addr}
		  , #{phone}
		  , #{paymentType} )
    </insert>
    
    <!-- 2. 주문 목록 -->
    <select id="listOrder" resultType="OrderVO">
        SELECT
            a.idx,
            a.member_idx AS memberIdx,
            a.game_idx As gameIdx,
            a.quantity,
            b.title AS gameTitle, 
            b.price AS price, 
            (price * quantity) AS cost
        FROM order a
        	INNER JOIN game b ON a.game_idx = b.idx
            INNER JOIN member c ON a.member_idx = c.idx
        WHERE a.member_idx = #{memberIdx}
        ORDER BY a.idx DESC
    </select>
    
    <!-- 3. 주문 전체 금액 -->
    <select id="sumCost" resultType="int">
        SELECT IFNULL(SUM(price * quantity), 0) AS cost
        FROM order a
        	INNER JOIN game b ON a.game_idx = b.idx 
        WHERE a.member_idx = #{memberIdx}
    </select>
    
    <!-- 4. 주문 수정 -->
    <update id="updateOrder">
        UPDATE order    
        SET quantity = #{quantity} 
        WHERE member_idx= #{memberIdx} 
        AND game_idx = #{gameIdx}
    </update>
    
    <!-- 5. 주문 삭제 -->
    <delete id="deleteOrder">
        DELETE FROM order 
        WHERE idx = #{orderIdx}
    </delete>
    
    <!-- 6. 주문에 동일한 상품 레코드 확인 -->
    <select id="countOrder" resultType="int">
        SELECT COUNT(*)
        FROM order
        WHERE member_idx= #{memberIdx}
        AND game_idx = #{gameIdx}
    </select>
    
    <!-- 7. 주문에 동일한 상품이 존재하면 수정 -->
    <update id="duplicateUpdateOrder">
        UPDATE order 
        SET quantity = quantity + #{quantity} 
        WHERE member_idx= #{memberIdx} 
        AND game_idx = #{gameIdx}
    </update>
</mapper>
