<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ReviewMapper">

<!-- 등록 -->
	<insert id="insertReview">
		INSERT INTO review (
			board_idx
		  , member_idx
		  , content)
		VALUES (
			#{boardIdx}
		  , #{memberIdx}
		  , #{content})
	</insert>

<!-- 리스트 -->
	<select id="selectReview" resultType="ReviewVO">
		SELECT a.name, b.content, b.write_date
		FROM member a
			INNER JOIN review b ON a.idx = b.member_idx
		WHERE b.board_idx = #{boardIdx}
		ORDER BY b.write_date DESC;
	</select>
	
<!-- 수정 -->
	<update id="updateReview">
		UPDATE review SET content = #{content}
		WHERE idx = #{idx} AND member_idx = #{memberIdx}
	</update>

<!-- 삭제 -->
	<delete id="deleteReview">
		DELETE FROM review 
		WHERE idx = #{idx} AND member_idx = #{memberIdx}
	</delete>
	
</mapper>
